{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}

  <h2 class="title">{% trans "Election {{election.name}} Already Tallied" %}</h2>

  <p>
      {% trans "This election has already been tallied, you can no longer cast a vote." %}
  </p>
  
  <p>
      {% if election.voting_start_at %}Voting start at {{election.voting_start_at}}<br />{% endif %}
      {% if election.voting_end_at %}Voting end at {{election.voting_end_at}}<br />{% endif %}
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">{% trans "view the election tally" %}</a>
  </p>
{% endblock %}